[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/plugins/classymarkdown"]
	path = site/plugins/classymarkdown
	url = https://github.com/fabianmichael/kirby-classymarkdown.git
[submodule "site/plugins/algolia"]
	path = site/plugins/algolia
	url = https://github.com/getkirby-plugins/algolia-plugin.git
